# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/
.idea/

# Local artifacts (uncomment if you don't want to version them)
# models/*.joblib
# data/mall_customers_with_clusters.csv